In [16]:
import pandas as pd
import numpy as np
import os
from bs4 import BeautifulSoup

In [4]:
q = pd.read_csv('stackDB/Questions.csv', encoding='latin1')

In [5]:
a = pd.read_csv('stackDB/Answers.csv', encoding='latin1')

In [6]:
t = pd.read_csv('stackDB/Tags.csv', encoding='latin1')

In [13]:
print(f"The columns of Questions.csv are {q.columns.to_list()}")
q.head()

The columns of Questions.csv are ['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title', 'Body']

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [14]:
print(f"The columns of Answers.csv are {a.columns.to_list()}")
a.head()

The columns of Answers.csv are ['Id', 'OwnerUserId', 'CreationDate', 'ParentId', 'Score', 'Body']

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."

In [15]:
print(f"The columns of Tags.csv are {t.columns.to_list()}")
t.head()

The columns of Tags.csv are ['Id', 'Tag']

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn